.choice-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: calc(501 * var(--unit));
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc((4 * 280 + 3 * 141) * var(--unit) ); /* 四個選擇區寬度加上間隙 */
}

.choice-wrapper {
    width: calc(280 * var(--unit));
    height: calc(344 * var(--unit));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .choice-wrapper:hover {
        cursor: pointer;
    }

        .choice-wrapper:hover .choice-text {
            display: none;
        }

        .choice-wrapper:hover .choice-arrow {
            display: block;
        }

    .choice-wrapper.color-selected {
        cursor: not-allowed;
    }

        .choice-wrapper.color-selected .choice-text {
            display: none;
        }
        .choice-wrapper.color-selected:hover .choice-arrow {
            display: none;
        }
        .choice-wrapper.color-selected.current-player:hover .choice-arrow {
            display: block;
        }

    .choice-wrapper.current-player .choice-arrow {
        display: block;
        position: relative;
        transform: translateY(calc(-226 * var(--unit)));
    }

.choice-text::before {
    content: '請選擇';
    position: relative;
    width: calc(180 * var(--unit));
    top: calc(72 * var(--unit));
    font-size: calc(60 * var(--unit));
    font-weight: bold;
    white-space: nowrap;
    color: #FFFFFF;
}

.choice-step {
    position: absolute;
    top: calc(168 * var(--unit));
    width: calc(280 * var(--unit));
    height: calc(176 * var(--unit));
    background-size: cover;
    background-position: center;
}

    .choice-step.choice-blue {
        background-image: url('images/preparing/choice_blue.svg');
    }

    .choice-step.choice-red {
        background-image: url('./images/preparing/choice_red.svg');
    }

    .choice-step.choice-yellow {
        background-image: url('images/preparing/choice_yellow.svg');
    }

    .choice-step.choice-green {
        background-image: url('images/preparing/choice_green.svg');
    }

/*箭頭*/
.choice-arrow {
    position: absolute;
    width: calc(100 * var(--unit));
    height: calc(115 * var(--unit));
    display: none;
    top: 0;
    background-size: cover;
    background-position: center;
}
    .choice-arrow.choice-arrow-blue {
        background-image: url('images/preparing/choice_arrow_blue.svg');
    }

    .choice-arrow.choice-arrow-red {
        background-image: url('images/preparing/choice_arrow_red.svg');
    }

    .choice-arrow.choice-arrow-yellow {
        background-image: url('images/preparing/choice_arrow_yellow.svg');
    }

    .choice-arrow.choice-arrow-green {
        background-image: url('images/preparing/choice_arrow_green.svg');
    }

/*角色*/
.player-container {
    position: fixed;
    z-index: 20;
    top: calc(390 * var(--unit));
    height: calc(360 * var(--unit));
    width: calc(280 * var(--unit));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    .player-container .player-name {
        font-weight: bold;
        font-size: calc(24 * var(--unit));
        color: #FFFFFF;
        user-select: none
    }
.role {
    background-size: cover;
    background-position: center;
}
    .role.oldman{
        width: calc(196 * var(--unit));
        height: calc(307 * var(--unit));
        background-image: url('images/roles/modals/教授.svg');
    }

    .role.baby{
        width: calc(166 * var(--unit));
        height: calc(213 * var(--unit));
        background-image: url('images/roles/modals/寶寶.svg');
    }

    .role.dai {
        width: calc(162 * var(--unit));
        height: calc(313 * var(--unit));
        background-image: url('images/roles/modals/阿呆.svg');
    }

    .role.mei {
        width: calc(173 * var(--unit));
        height: calc(296 * var(--unit));
        background-image: url('images/roles/modals/小美.svg');
    }

.ready-sign.ready {
    position: fixed;
    top: calc(717 * var(--unit));
    width: calc(280 * var(--unit));
    height: calc(77 * var(--unit));
    border-radius: calc(12 * var(--unit));
    padding: calc(10 * var(--unit));
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
}

    .ready-sign.ready .ready-sign-text:before {
        content: '已準備';
        width: calc(144 * var(--unit));
        height: calc(57 * var(--unit));
        font-weight: bold;
        font-size: calc(48 * var(--unit));
        line-height: calc(56.02 * var(--unit));
    }

.host-icon {
    width: calc(24 * var(--unit));
    height: calc(24 * var(--unit));
    background-image: url('images/preparing/host-icon.svg');
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: calc(8 * var(--unit));
}