.background {
    width: calc(1920 * var(--unit));
    height: calc(1080 * var(--unit));
    background-image: url('./images/preparing/background.svg');
    background-size: cover;
    background-position: center;
}