@page "/dev-page"

<div class="background">
    <div class="players">
        @foreach (var player in _players)
        {
            <div class="player">
                <div class="player-id">@player.Id</div>
                <div class="player-token">@player.Token</div>
            </div>
        }
    </div>
    <div class="create-room" @onclick="CreateGame">Create Room</div>
    <div class="rooms">
        @foreach (var room in _rooms)
        {
            <div class="room">
                <div class="room-id">@room.Id</div>
                <div class="room-players">
                    @foreach (var player in room.Players)
                    {
                        <div class="room-player" @onclick="() => EnterRoom(room, player)">@player.Id</div>
                    }
                </div>
            </div>
        }
    </div>
</div>
