(¤l¼h)´Ñ2

<button @onclick="choosePiece">¿ï¾Ü@(PieceName)</button>

@code {
    [CascadingParameter]
    private string PieceName { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> OnChoosePiece { get; set; }

    private async Task choosePiece()
    {
        if (OnChoosePiece.HasDelegate)
        {
            await OnChoosePiece.InvokeAsync(PieceName);
        }
    }
}