(子層)棋1

<button @onclick="choosePiece">選擇棋子1</button>

@code {
    private string PieceName = $"棋子1";

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> OnChoosePiece { get; set; }

    private async Task choosePiece()
    {
        if (OnChoosePiece.HasDelegate)
        {
            await OnChoosePiece.InvokeAsync(PieceName);
        }
    }
}