@if (CurrentPlayer is null)
{
    
}
else if (CurrentPlayer.IsHost)
{
    <div class="button @(GetStartButtonCss())" @onclick="@Start">
        <div class="start-button-text"></div>
    </div>
}
else
{
    <div class="button @(GetReadyButtonCss())" @onclick="@Ready">
        <div class="ready-button-text"></div>
    </div>
}