.choice-role-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5B5B5B;
    border-color: #D8C292;
    border-width: calc(4 * var(--unit));
    border-style: solid;
    top: calc(888 * var(--unit));
    left: calc(1129 * var(--unit));
    width: calc(446 * var(--unit));
    height: calc(180 * var(--unit));
    gap: calc(16 * var(--unit));
    border-radius: calc(12 * var(--unit));
}

.choice-role-text {
    font-size: calc(24 * var(--unit));
    font-weight: bold;
    color: white;
    white-space: nowrap;
    line-height: calc(32.02 * var(--unit));
}

    .choice-role-text::before {
        content: '選擇人物';
    }

.choice-role-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    left: 0;
    right: 0;
    column-gap: calc(16 * var(--unit));
}

.choice-role-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(90 * var(--unit));
    height: calc(90 * var(--unit));
    border-radius: calc(8 * var(--unit));
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

    .choice-role-item:hover {
        cursor: pointer;
        background-color: #CCCCCC
    }

    .choice-role-item.selected {
        background-color: #CCCCCC;
    }

    .choice-role-item .picture {
        background-size: cover;
        background-position: center;
    }

        .choice-role-item .picture.oldman {
            width: calc(82 * var(--unit));
            height: calc(69 * var(--unit));
            background-image: url('images/roles/avatars/老人頭.svg');
        }

        .choice-role-item .picture.baby {
            width: calc(79 * var(--unit));
            height: calc(61 * var(--unit));
            background-image: url('images/roles/avatars/寶寶頭.svg');
        }

        .choice-role-item .picture.dai {
            width: calc(75 * var(--unit));
            height: calc(76 * var(--unit));
            background-image: url('images/roles/avatars/阿呆頭.svg');
        }

        .choice-role-item .picture.mei {
            width: calc(75 * var(--unit));
            height: calc(71 * var(--unit));
            background-image: url('images/roles/avatars/小美頭.svg');
        }
