<div class="choice-bar">
    @foreach (var choice in new[] { "blue", "red", "yellow", "green" })
    {
        <div class="choice-wrapper">
            <div class="choice-text">請選擇</div>
            <div class="choice-arrow choice-arrow-@choice"></div>
            <div class="choice-step choice-@choice"></div>
        </div>
    }
</div>
<div class="choice-role-area">
    <div class="choice-role-text">選擇人物</div>
    <div class="choice-role-row">
        <div class="choice-role-item">老頭</div>
        <div class="choice-role-item">寶寶</div>
        <div class="choice-role-item">寶寶</div>
        <div class="choice-role-item">寶寶</div>
    </div>
</div>
