@using Client.Pages.Preparing.Entities
<div class="choice-role-area">
    <div class="choice-role-text"></div>
    <div class="choice-role-row">
        @foreach (var role in new[] { RoleEnum.OldMan, RoleEnum.Baby, RoleEnum.Dai, RoleEnum.Mei })
        {
            <div class="choice-role-item @(CurrentPlayer.Role == role ? "selected" : "")" @onclick="() => ChangeRole(role)">
                <div class="picture @(role.ToLowerCaseName())"></div>
            </div>
        }
    </div>
</div>