<div class="choice-role-area">
    <div class="choice-role-text"></div>
    <div class="choice-role-row">
        <div class="choice-role-item">
            <div class="picture oldman"></div>
        </div>
        <div class="choice-role-item">
            <div class="picture baby"></div>
        </div>
        <div class="choice-role-item">
            <div class="picture dai"></div>
        </div>
        <div class="choice-role-item">
            <div class="picture mei"></div>
        </div>
    </div>
</div>