@using Client.Pages.Ready.Entities
<div class="choice-bar">
    @foreach (var color in new[] { ColorEnum.Blue, ColorEnum.Red, ColorEnum.Yellow, ColorEnum.Green })
    {
        var player = GetPlayerWithColor(color);
        <div class="choice-wrapper @GetChoiceWrapperCss(color)" @onclick="() => ChangeColor(color)">
            @if (CurrentPlayer is not null)
            {
                <div class="choice-text"></div>
                <div class="choice-arrow choice-arrow-@color.ToLowerCaseName()"></div>
            }
            <div class="player-container">
                <div class="player-name">
                    @if(player?.IsHost is true)
                    {
                        <span class="host-icon"></span>
                    }
                    @player?.Name
                </div>
                <div class="role @(player?.Role.ToLowerCaseName())"></div>
            </div>
            <div class="ready-sign @GetReadySignCss(player)">
                <h3 class="ready-sign-text"></h3>
            </div>
            <div class="choice-step choice-@color.ToLowerCaseName()"></div>
        </div>
    }
</div>