@using Client.Pages.Ready.Components
<div class="background">
    <CascadingValue Value="this">
        <ColorChoicePanel />
        <RoleChoicePanel />
        <ReadyButton />
    </CascadingValue>
</div>