
<div class="d-flex flex-column">
    @foreach (var row in Value)
    {
        <div class="d-flex flex-grow-1">
            @foreach(var block in row)
            {
                if (!string.IsNullOrEmpty(block.Image))
                {
                    <MudPaper Class="ma-1" Style=@($"background-image: url(images/gamepage/{@block.Image}.svg);") Elevation="0" Width="133px" Height="148px" />
                    @*<MudImage Style="@block.ImageStyle" Class="ma-1" Fluid="true"
                      ObjectFit="ObjectFit.Contain" Src=@($"images/gamepage/{block.Image}.svg") />*@
                }
                else
                {
                    <MudPaper Class="ma-1" Elevation="0" Width="133px" Height="148px" />
                }
            }
        </div>
    }
</div>