<div style="background-image: url('@Image'); height: @Height; transform: scale(@ScaleFactor);">
</div>
@code {
    [Parameter]
    public string Image { get; set; } = String.Empty;
    [Parameter]
    public string Width { get; set; } = String.Empty;
    [Parameter]
    public string Height { get; set; } = String.Empty;
    [Parameter]
    public double ScaleFactor { get; set; } = 1.0;

}
