@using Client.Pages.Gaming.Entities
@using System.Web;
<div class="container">
    <!--

    <div>
       <div class="start"></div> 不能買賣的格子
       <div class="empty"></div> 空格
       <div class="roadTop"> class名稱為land的方位 roadTop/Right/Left:land標示在上/右/左方的土地
          <img class="landH"> 第一個img為land樣式
          <img class="roadH"> 第二個img為land種類
       </div>
    </div>

    -->
    
    @for (int i = 0; i < GetMapRow(); i++)
    {
        <div class="row">
            @for (int j = 0; j < GetMapCol(); j++)
            {
                @((MarkupString)GetBlockTag(i, j))
            }
        </div>
    }
</div>
