@using Client.Pages.Gaming.Entities
<div class="container">
    <!--

    <div>
       <div class="start"></div> 不能買賣的格子
       <div class="empty"></div> 空格
       <div class="roadTop"> class名稱為land的方位 roadTop/Right/Left:land標示在上/右/左方的土地
          <img class="landH"> 第一個img為land樣式
          <img class="roadH"> 第二個img為land種類
       </div>
    </div>

    -->

    @* @for (int i = 0; i < GetMapRow(); i++)
    {
        <div class="row">
            @for (int j = 0; j < GetMapCol(); j++)
            {
                @GetBlockTag(i, j)
            }
        </div>
    } *@

    <div class="row">
        <div class="start"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="railH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadTopR"></div>
        <div class="empty"></div>
        <div class="empty"></div>
    </div>
    <div class="row">
        <div class="roadLeft"><img class="landV"><img class="roadV"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="roadTop"><img class="roadV"></div>
        <div class="empty"></div>
        <div class="empty"></div>
    </div>
    <div class="row">
        <div class="roadLeft"><img class="landV"><img class="railV"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="roadTop"><img class="landH"><img class="roadTopL"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="parking"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadTopR"></div>
    </div>
    <div class="row">
        <div class="roadLeft"><img class="landV"> <img class="roadBtmL"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="prison"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="roadRight"><img class="landV"><img class="railV"></div>
    </div>
    <div class="row">
        <div class="roadLeft"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="roadLeft"><img class="landV"><img class="roadBtmL"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="railH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadTop"><img class="landH"><img class="roadH"></div>
        <div class="roadRight"><img class="roadBtmR"></div>
    </div>
</div>
